#search + svg {
	visibility: hidden;
}

#search:placeholder-shown + svg {
	visibility: visible;
}

.dropdown:focus-within .dropdown-menu {
	opacity: 1;
	transform: translate(0) scale(1);
	visibility: visible;
}
